.cache/
.coverage
.tox/
htmlcov/
staticfiles/
static/images
static/files
media
images
frontend/node_modules/
frontend/package-lock.json
tmp/
venv/
drfreact/development.py
drfreact/__pycache__/*.pyc
*.pyc
*.pyc
