/*define styles here*/

.navbar-profile {
  display: inline-flex;
  position: absolute;
  right: 2%;
}

.table th, .table td, .table thead th {
    vertical-align: inherit;
}

.centering {
  display: flex;
}
.centering-left, .centering-right {
  flex: 1;
}

.centering-right__tablepreffix {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/*datepicker*/
.react-datepicker-wrapper, .react-datepicker__input-container, 
.react-datepicker__input-container input {
	width: 100%;
}

.table-correspondence__data {
	flex-wrap: wrap;
  word-break: break-all;
}
.table-correspondence__url {
  flex-wrap: wrap;
  word-break: break-all;
}

.dropzone-field {
  display: flex;
	border: 1px dashed #000;
	background: lightgrey;
  height: 60px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.btn-sort__clear svg{
  -webkit-transition: -webkit-transform .5s ease-in-out;
          transition: transform .5s ease-in-out;
}
.btn-sort__clear:hover svg{
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.svg-inline--fa.fa-w-18, .svg-inline--fa.fa-w-14 {
  width: 1em;
}
@media only screen and (max-width: 992px) {
  .container {
    max-width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    max-width: 100%;
  }
  .navbar-profile {
    display: block;
    position: fixed;
  }
  .table th, .table td {
    padding: 0;
  }
  .table-num__title, .table-num__text {
    display: none;
  }
  .btn-add {
    display: none;
  }

}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .table th, .table td {
    font-size: 14px;
  }
  .table-phone__title, .table-phone__text {
    display: none;
  }
  .btn-quick__text{
    display: none;
  }
}

