.table-userprofile {
  display: flex;
}
.table-userprofile th {
  min-width: 95px;
}
.table-userprofile td {
  /*width: 75%;*/
}
.userprofile-header th {  
  min-width: 220px;
}
.userprofile-header td {
  min-width: 85px;
  text-align: right; 
}

@media (max-width: 576px) {
	.table-userprofile {
	  display: block;
	}
}