.dropimage-field {
  display: flex;
  border: 1px dashed #000;
  background: lightgrey;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin: auto;

  &__default{
  	background: lightgrey;
  }
  &__success{
    text-align: center;
    color: #fff;
  	background: #17a2b8;
    /*not show background-image*/
    background-size: 0;
  }
  &.avatar {
      /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
      /*background-image: url('http://i.stack.imgur.com/Dj7eP.jpg');*/

      background-repeat: no-repeat;
      /* make a square container */


      /* fill the container, preserving aspect ratio, and cropping to fit */
      /*background-size: cover;*/
      background-size: contain;

      /* center the image vertically and horizontally */
      background-position: center center;

      /* round the edges to a circle with border radius 1/2 container size */
      /*border-radius: 50%;*/

      /* centering image */
      margin: auto;
  }
}
.document-title {
  flex-wrap: wrap;
  word-break: break-all;
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .dropimage-field__text {
    font-size: 20px
  }
}
@media only screen and (max-width: 767px) {
  .dropimage-field {
    /*height: 120px;*/
  }
}