/* input */
#searchtext{
  border-radius: 0;
}
.centering {
	display: flex;

	&-left, &-right {
		flex: 1;
	}
	&-left {
		text-align: left;
	}
	&-right {
		text-align: right;
	}
	&-right__tablepreffix {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
}

@media (max-width: 767px) {
	.btn-add {
		display: none;
	}
	.notes-header {
		.row {
			margin: 0;
		}
		.centering-right {
			display: none;
		}
	}
	.table-investors tbody {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 55px;
	}
}
@media (max-width: 576px) {
  .btn-quick__text{
    display: none!important;
  }
}
@media (max-width: 365px) {
	#searchtext {
	    width: 70%;
	}
}
